<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/app/css/style.css">
  <link rel="stylesheet" href="../public/app/css/style_2.css">
  <link rel="stylesheet" href="../public/app/css/bootstrap.css">
  <link rel="stylesheet" href="../public/app/css/bootstrap.min.css">
  <link rel="icon" type="image/x-icon" href="../public/app/img/logo_title.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <script src="../public/app/js/bootstrap.js"></script>
  <title>Visa</title>
</head>

<body>
  <header id="header" class="z-5 w-100 top-0 start-0 z-lg position-fixed fixed">
    <div class="container position-relative">
      <div class="header row justify-content-between flex-wrap position-relative align-items-center">
        <div class="header_logo text-center col-lg-2 text-lg-start">
          <a href="/">
          <div class="logo">
            <img width="75" height="55" src="../public/app/img/design_logo.png" alt="">
          </div>
          </a>
        </div>
        <!-- phan giua -->
        <div class="main_menu col-lg-9 d-lg-flex align-items-center justify-content-end mt-lg-sm">
          <div class="menu-main-menu-container">
            <ul class="d-flex flex-lg-row navbar-nav">
              <li class="nav-item"><a href="/">TRANG CHỦ</a></li>
              <li class="nav-item"><a href="about-us">VỀ CHÚNG TÔI</a></li>
              <li class="nav-item"><a href="">CÔNG VIỆC</a></li>
              <li class="nav-item has-submenu"><a href="">HỌC TẬP</a>
                <div class="contain-submenu">
                  <ul class="submenu">
                      <li class="btn-li"><a href="study">DU HỌC TẠI CANADA</a></li>
                      <li class="btn-li"><a href="#">DU HỌC TẠI MỸ</a></li>
                      <li class="btn-li"><a href="#">DU HỌC TẠI ÚC</a></li>
                    </ul>
                </div>
              </li>
              <li class="nav-item">
                  <a href=""class="choose-item" >VISA</a>
              </li>
              <li class="nav-item"><a href="contact">LIÊN HỆ</a></li>
            </ul>
          </div>
        </div>
        <div class=" col-md-4 col-12 col-lg-1 d-lg-flex align-items-center justify-content-end">
          <p class="mb-0 search_icon position-fixed position-lg-static cursor-pointer">
            <img class="fixed_search_icon" width="23" height="23" src="../public/app/img/search.png" alt="" />
          </p>
        </div>
      </div>


    </div>

  </header>
  <main>
    <section>
      <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active c-item-2">
            <img src="../public/app/img/study_1.jpg" class="d-block w-100 c-img" alt="Slide 1">
            <div class="c-text position-absolute top-50 start-0 w-100 translate-middle-y z-1">
              <div class="container">
                <div class="c-context-about-us">
                  <h1>Các chương trình Visa</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <div class="destination_ct">
        <div class="container">
            <div class="news_menu global_menu d-flex">
                <p class="menu_title mb-0 " style="font-size: 15px;">VISA DÀNH CHO:</p>
                <div class="menu_tab">
                    <span class="click_scroll"></span>
                    <div class="container">
                        <ul class="d-flex m-0 text-uppercase" style="padding-left:0;">
                            <li class="category-53"><a href="">Úc</a></li>
                            <li class="category-52"><a href="">Canada</a></li>
                            <li class="category-51"><a href="">Mỹ</a></li>
                        </ul>
                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row destination_list pt-7">
                <div class="col-12 col-md-6 mb-3 mb-lg-5">
                    <div class="h-100 position-relative">
                        <div class="img effect_img"><a href="https://aimsvietnam.com/chuong-trinh/uc/"><img width="540"
                                    height="350" src="../public/app/img/image_study_1.jpg"
                                    alt="Úc"
                                    data-lazy-src="/wp-content/uploads/2023/03/bac43cf2131010eab761154c176362c2.jpg"
                                    data-ll-status="loaded" class="entered lazyloaded"><noscript><img width="540"
                                        height="350"
                                        src="../public/app/img/image_study_1.jpg"
                                        alt="Úc" /></noscript></a></div>
                        <h3><a href="https://aimsvietnam.com/chuong-trinh/uc/">Visa đi Úc</a></h3>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 mb-lg-5">
                    <div class="h-100 position-relative">
                        <div class="img effect_img"><a href=""><img
                                    width="540" height="350"
                                    src="../public/app/img/image_study_2.jpg" alt="Canada"
                                    data-lazy-src="/wp-content/uploads/2023/03/2c1864a8ad9c5723db95341e8b1ba22a.jpg"
                                    data-ll-status="loaded" class="entered lazyloaded"><noscript><img width="540"
                                        height="350"
                                        src="../public/app/img/image_study_2.webp"
                                        alt="Canada" /></noscript></a></div>
                        <h3><a href="">Visa đi Canada</a></h3>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 mb-lg-5">
                    <div class="h-100 position-relative">
                        <div class="img effect_img"><a href="https://aimsvietnam.com/chuong-trinh/my/"><img width="540"
                                    height="350" src="../public/app/img/image_study_3.webp"
                                    alt="Mỹ"
                                    data-lazy-src="/wp-content/uploads/2023/03/5f338b1ed69dbbb90af8872878cfb025.jpg"
                                    data-ll-status="loaded" class="entered lazyloaded"><noscript><img width="540"
                                        height="350"
                                        src="../public/app/img/image_study_3.webp"
                                        alt="Mỹ" /></noscript></a></div>
                        <h3><a href="https://aimsvietnam.com/chuong-trinh/my/">Visa đi Mỹ</a></h3>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 mb-lg-5">
                    <div class="h-100 position-relative">
                        <div class="img effect_img"><a href="https://aimsvietnam.com/chuong-trinh/chau-au/"><img
                                    width="540" height="350"
                                    src="../public/app/img/image_study_4.jpg" alt="Châu Âu"
                                    data-lazy-src="/wp-content/uploads/2023/03/fd562da94c2a0f886086906239ee9858.jpg"
                                    data-ll-status="loaded" class="entered lazyloaded"><noscript><img width="540"
                                        height="350"
                                        src="../public/app/img/image_study_4.jpg"
                                        alt="Châu Âu" /></noscript></a></div>
                        <h3><a href="https://aimsvietnam.com/chuong-trinh/chau-au/">Visa đi Châu Âu</a></h3>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 mb-lg-5">
                    <div class="h-100 position-relative">
                        <div class="img effect_img"><a href="https://aimsvietnam.com/chuong-trinh/caribe/"><img
                                    width="540" height="350"
                                    src="../public/app/img/image_study_5.jpg" alt="Caribê"
                                    data-lazy-src="/wp-content/uploads/2023/03/c81a44f1276b5e3d0d89c28f502e5695.jpg"
                                    data-ll-status="loaded" class="entered lazyloaded"><noscript><img width="540"
                                        height="350"
                                        src="../public/app/img/image_study_5.jpg"
                                        alt="Caribê" /></noscript></a></div>
                        <h3><a href="https://aimsvietnam.com/chuong-trinh/caribe/">Visa đi Caribê</a></h3>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 mb-lg-5">
                    <div class="h-100 position-relative">
                        <div class="img effect_img"><a href="https://aimsvietnam.com/chuong-trinh/cac-nuoc-khac/"><img
                                    width="540" height="350"
                                    src="../public/app/img/image_study_6.jpg"
                                    alt="các nước khác"
                                    data-lazy-src="/wp-content/uploads/2023/03/000dc701b06dba6439bac44362352733.jpg"
                                    data-ll-status="loaded" class="entered lazyloaded"><noscript><img width="540"
                                        height="350"
                                        src="../public/app/img/image_study_6.jpg"
                                        alt="các nước khác" /></noscript></a></div>
                        <h3><a href="https://aimsvietnam.com/chuong-trinh/cac-nuoc-khac/">Visa đi nước khác</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- --------------------------------------------------FOOTER-------------------------------------------- -->
    <section id="homecontact_1" class="home_contact_study wow fadeInUp" style="visibility: visible;">
        <div class="container">
          <h2 class="main_title">Chúng tôi đã giúp hơn 18.000 gia đình!<br>
            Hãy để chúng tôi giúp bạn!</h2>
          <p>Nếu bạn đang tìm kiếm cơ hội lấy tấm thẻ thường trú, hoặc hộ chiếu thứ hai, hãy đăng ký thông tin liên hệ,
            nhân viên tư vấn của (Tên công ty) sẽ kết nối tư vấn trực tiếp với bạn!</p>
  
          <div class="wpcf7 js" id="wpcf7-f20-o1" lang="en-US" dir="ltr">
              <div class="screen-reader-response">
                  <p role="status" aria-live="polite" aria-atomic="true"></p>
                  <ul></ul>
              </div>
              <form action="/#wpcf7-f20-o1" method="post" class="wpcf7-form init" aria-label="contact form"
                  novalidate="novalidate" data-status="init">
                  <div class="home_contact_form_1">
                      <div class="container">
                        <div class="row">
                            <div class="item col-12 col-md-6 col-lg-4 input_name">
                                <p>Họ và tên <span class="required">*</span>
                                </p>
                                <p><span class="wpcf7-form-control-wrap" data-name="fullname"><input size="40"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" value="" type="text"
                                            name="fullname"></span>
                                </p>
                            </div>
                            <div class="item col-12 col-md-6 col-lg-4 input_name">
                                <p>Điện thoại <span class="required">*</span>
                                </p>
                                <p><span class="wpcf7-form-control-wrap" data-name="phone"><input size="40"
                                            class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                            aria-required="true" aria-invalid="false" value="" type="tel"
                                            name="phone"></span>
                                </p>
                            </div>
                            <div class="item col-12 col-md-6 col-lg-4 input_name">
                                <p>Email <span class="required">*</span>
                                </p>
                                <p><span class="wpcf7-form-control-wrap" data-name="email"><input size="40"
                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                            aria-required="true" aria-invalid="false" value="" type="email"
                                            name="email"></span>
                                </p>
                            </div>
                            <div class="item col-12 col-md-6 col-lg-4 input_name">
                                <p>Chương trình định cư quan tâm? <span class="required">*</span>
                                </p>
                                <p>
                                    <div class="form-group">
                                        <select class="form-control FormControlSelect" id="">
                                            <option value="Định cư đầu tư Úc" data-select2-id="select2-data-3-b7zz">Định
                                                cư đầu tư Úc</option>
                                            <option value="Định cư tay nghề Úc">Định cư tay nghề Úc</option>
                                            <option value="Định cư đầu tư Canada">Định cư đầu tư Canada</option>
                                            <option value="Định cư tay nghề Canada">Định cư tay nghề Canada</option>
                                            <option value="Định cư đầu tư Mỹ">Định cư đầu tư Mỹ</option>
                                            <option value="Định cư tay nghề Mỹ">Định cư tay nghề Mỹ</option>
                                            <option value="Định cư đầu tư Châu Âu">Định cư đầu tư Châu Âu</option>
                                            <option value="Định cư đầu tư Singapore">Định cư đầu tư Singapore</option>
                                            <option value="Định cư tay nghề Singapore">Định cư tay nghề Singapore</option>
                                            <option value="Định cư đầu tư New Zealand">Định cư đầu tư New Zealand</option>
                                            <option value="Định cư tay nghề New Zealand">Định cư tay nghề New Zealand
                                            </option>
                                            <option value="Định cư nước khác">Định cư nước khác</option>
                                        </select>
                                    </div>
                                </p>
                            </div>
                            <div class="item col-12 col-md-6 col-lg-4 input_name">
                                <p>Số tiền tối thiểu bạn có thể đầu tư? <span class="required">*</span>
                                </p>
                                <p>
                                    <div class="form-group">
                                        <select class="form-control FormControlSelect" id="">
                                            <option value="Dưới 2 tỷ" data-select2-id="select2-data-6-wqlo">Dưới 2 tỷ</option>
                                            <option value="Từ 2 tỷ - 5 tỷ">Từ 2 tỷ - 5 tỷ</option>
                                            <option value="Từ 5 tỷ - 10 tỷ">Từ 5 tỷ - 10 tỷ</option>
                                            <option value="Từ 10 tỷ - 20 tỷ">Từ 10 tỷ - 20 tỷ</option>
                                            <option value="Trên 20 tỷ">Trên 20 tỷ</option>
                                        </select>
                                    </div>
                                </p>
                            </div>
                            <div class="item col-12 col-md-6 col-lg-4 input_name">
                                <p>Anh/chị sống ở tỉnh thành nào? <span class="required">*</span>
                                </p>
                                <p>
                                    <div class="form-group">
                                        <select class="form-control FormControlSelect" id="">
                                            <option value="An Giang" data-select2-id="select2-data-9-kk9s">An Giang
                                            </option>
                                            <option value="Bạc Liêu">Bạc Liêu</option>
                                            <option value="Bắc Giang">Bắc Giang</option>
                                            <option value="Bắc Kạn">Bắc Kạn</option>
                                            <option value="Bắc Ninh">Bắc Ninh</option>
                                            <option value="Bến Tre">Bến Tre</option>
                                            <option value="Bình Dương">Bình Dương</option>
                                            <option value="Bình Định">Bình Định</option>
                                            <option value="Bình Phước">Bình Phước</option>
                                            <option value="Bình Thuận">Bình Thuận</option>
                                            <option value="Cà Mau">Cà Mau</option>
                                            <option value="Cao Bằng">Cao Bằng</option>
                                            <option value="Cần Thơ">Cần Thơ</option>
                                            <option value="Đà Nẵng">Đà Nẵng</option>
                                            <option value="Đắk Lắk">Đắk Lắk</option>
                                            <option value="Đắk Nông">Đắk Nông</option>
                                            <option value="Điện Biên">Điện Biên</option>
                                            <option value="Đồng Nai">Đồng Nai</option>
                                            <option value="Đồng Tháp">Đồng Tháp</option>
                                            <option value="Gia Lai">Gia Lai</option>
                                            <option value="Hà Giang">Hà Giang</option>
                                            <option value="Hà Nam">Hà Nam</option>
                                            <option value="Hà Nội">Hà Nội</option>
                                            <option value="Hà Tĩnh">Hà Tĩnh</option>
                                        </select>
                                    </div>
                                </p>
                            </div>
                            <div class="item col-12 col-md-6 col-lg-4 input_name">
                                <p>Bạn biết đến (Tên công ty) từ đâu? <span class="required">*</span>
                                </p>
                                <p>
                                    <div class="form-group">
                                        <select class="form-control FormControlSelect" id="">
                                            <option value="Facebook" data-select2-id="select2-data-12-v7vw">Facebook
                                            </option>
                                            <option value="Banner quảng cáo">Banner quảng cáo</option>
                                            <option value="Công cụ tìm kiếm Google">Công cụ tìm kiếm Google</option>
                                            <option value="Báo mạng">Báo mạng</option>
                                            <option value="Email">Email</option>
                                            <option value="Bạn bè">Bạn bè</option>
                                            <option value="Từ Vietnam Airlines">Từ Vietnam Airlines</option>
                                            <option value="Từ Vietnamworks">Từ Vietnamworks</option>
                                            <option value="Khác">Khác</option>
                                        </select>
                                    </div>
                                </p>
                            </div>
                            <div class="item col-12">
                                <span class="wpcf7-form-control-wrap recaptcha" data-name="recaptcha"><span
                                        data-sitekey="6LfKtdckAAAAACY_uoZ9ddouzoH7MqnE2fDqd2ob"
                                        class="wpcf7-form-control g-recaptcha wpcf7-recaptcha">
                                        <div style="width: 304px; height: 78px;">
                                            <div><iframe title="reCAPTCHA"
                                                    src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfKtdckAAAAACY_uoZ9ddouzoH7MqnE2fDqd2ob&amp;co=aHR0cHM6Ly9haW1zdmlldG5hbS5jb206NDQz&amp;hl=vi&amp;v=FFtxPnbuZxq6kkeHkQJR2MNQ&amp;size=normal&amp;cb=xkya5wmo480v"
                                                    width="304" height="78" role="presentation" name="a-3zkguclsv008"
                                                    frameborder="0" scrolling="no"
                                                    sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                            </div><textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                                class="g-recaptcha-response"
                                                style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                        </div>
                                    </span>
                                </span>
                            </div>
                            <div class="btn_submit text-center">
                                <input class="wpcf7-form-control wpcf7-hidden" value="" type="hidden" name="utm_tracking">
                                <p><input class="input_home" style="width:300px;" type="submit"
                                        value="Gửi thông tin"><span class="wpcf7-spinner"></span>
                                </p>
                            </div>
                        </div>
                      </div>
                  </div>
                  <p style="display: none !important;"><label>Δ<textarea name="_wpcf7_ak_hp_textarea" cols="45" rows="8"
                              maxlength="100"></textarea></label><input type="hidden" id="ak_js_1" name="_wpcf7_ak_js"
                          value="1684744382369">
                  </p>
                  <div class="wpcf7-response-output" aria-hidden="true"></div>
              </form>
          </div>

          </div>
      </section>
      <!-- --------------------------------------------------FOOTER-------------------------------------------- -->
      <footer class="footer">
        <div class="container">
          <div class="row px-15px px-lg-0 footer_address pt-lg-7 pb-lg-6 wow fadeInUp"
            style="visibility: visible;">
            <p class="mb-0 d-lg-none btn_click d-flex justify-content-between align-items-center">Văn phòng <i
                class="fa-regular fa-chevron-down"><svg aria-hidden="true" focusable="false" data-prefix="fas"
                  data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path fill="currentColor"
                    d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                  </path>
                </svg></i></p>
            <div class="p-lg-15px col-lg-5 footer_show d-lg-block pt-1 pb-lg-0 pt-lg-0">
              <div class="widget widget_block">
                <div class="widget-content">
                  <h3 class="wp-block-heading">VĂN PHÒNG TP.HỒ CHÍ MINH</h3>
                </div>
              </div>
              <div class="widget widget_block widget_text">
                <div class="widget-content">
                  <p>Phòng 1906, Tầng 19, Tòa nhà Sun Wah</p>
                </div>
              </div>
              <div class="widget widget_block widget_text">
                <div class="widget-content">
                  <p>115 Nguyễn Huệ, Phường Bến Nghé, Quận 1, TP.HCM</p>
                </div>
              </div>
              <div class="widget widget_block widget_text">
                <div class="widget-content">
                  <p>HCM: 088 888 4567</p>
                </div>
              </div>
              <div class="address_hn">
                <div class="widget widget_block">
                  <div class="widget-content">
                    <h3 class="wp-block-heading">VĂN PHÒNG HÀ NỘI</h3>
                  </div>
                </div>
                <div class="widget widget_block widget_text">
                  <div class="widget-content">
                    <p>Phòng 2206, Tầng 22, Tòa nhà Đông, Lotte Center</p>
                  </div>
                </div>
                <div class="widget widget_block widget_text">
                  <div class="widget-content">
                    <p>54 Liễu Giai, Phường Cống Vị, Quận Ba Đình, Hà Nội</p>
                  </div>
                </div>
                <div class="widget widget_block widget_text">
                  <div class="widget-content">
                    <p>HN: 088 888 6898</p>
                  </div>
                </div>
              </div>
            </div>
            <p class="mb-0 d-lg-none btn_click d-flex justify-content-between align-items-center">Giới thiệu <i
                class="fa-regular fa-chevron-down"><svg aria-hidden="true" focusable="false" data-prefix="fas"
                  data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path fill="currentColor"
                    d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                  </path>
                </svg></i></p>
            <div class="p-lg-15px col-lg-2 footer_show d-lg-block pt-1 pt-lg-0 footer_menu01">
              <h3 class="d-none d-lg-block">Giới thiệu</h3>
              <div class="menu-ve-chung-toi-container">
                <ul id="menu-ve-chung-toi" class="m-0 footer_menu" style="padding-left: 0;">
                  <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a
                      href="">Giới thiệu về (Tên công ty)</a></li>
                  <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a
                      href="">Sự Kiện</a></li>
                  <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a
                      href="">Tin tức</a></li>
                  <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a
                      href="">Liên Hệ (Tên công ty)</a></li>
                </ul>
              </div>
            </div>
            <p class="mb-0 d-lg-none btn_click d-flex justify-content-between align-items-center">Chương trình <i
                class="fa-regular fa-chevron-down"><svg aria-hidden="true" focusable="false" data-prefix="fas"
                  data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path fill="currentColor"
                    d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                  </path>
                </svg></i></p>
            <div class="p-lg-15px col-lg-5 footer_show d-lg-block pt-1 pt-lg-0 footer_menu02">
              <h3 class="d-none d-lg-block">Chương trình</h3>
              <div class="menu-chuong-trinh-container">
                <ul id="menu-chuong-trinh" class="m-0 footer_menu" style="padding-left: 0;">
                  <li id="menu-item-9578"
                    class="menu-item menu-item-type-taxonomy menu-item-object-chuong-trinh menu-item-9578"><a
                      href="">Định cư Úc</a></li>
                  <li id="menu-item-9581"
                    class="menu-item menu-item-type-taxonomy menu-item-object-chuong-trinh menu-item-9581"><a
                      href="">Định cư Châu Âu</a></li>
                  <li id="menu-item-9579"
                    class="menu-item menu-item-type-taxonomy menu-item-object-chuong-trinh menu-item-9579"><a
                      href="">Định cư Canada</a></li>
                  <li id="menu-item-9582"
                    class="menu-item menu-item-type-taxonomy menu-item-object-chuong-trinh menu-item-9582"><a
                      href="">Định cư Caribê</a></li>
                  <li id="menu-item-9580"
                    class="menu-item menu-item-type-taxonomy menu-item-object-chuong-trinh menu-item-9580"><a
                      href="">Định cư Mỹ</a></li>
                  <li id="menu-item-9583"
                    class="menu-item menu-item-type-taxonomy menu-item-object-chuong-trinh menu-item-9583"><a
                      href="">Định cư các nước khác</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bottom text-center bg-body-footer text-white">
          <div class="container">
            <p class="mb-0 d-none event_foot">Công ty Tư vấn Định cư (Tên công ty) Immigration Việt Nam tổ chức</p>
            <div class="row">
              <div class="col-12 col-lg-6 text-lg-start">
                <div class="widget widget_block widget_text">
                  <div class="widget-content">
                    <p>(Tên công ty) Việt Nam © 2023</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 text-lg-end">
                <div class="widget widget_block">
                  <div class="widget-content">
                    <ul>
                      <li><a target="_blank" href="https://www.facebook.com/aimsvn/"><i class="fab fa-facebook-f"><svg
                              aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f"
                              class="svg-inline--fa fa-facebook-f fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 320 512">
                            </svg></i></a></li>
                      <li><a target="_blank" href="https://www.instagram.com/aimsvietnam/"><i
                            class="fab fa-instagram"><svg aria-hidden="true" focusable="false" data-prefix="fab"
                              data-icon="instagram" class="svg-inline--fa fa-instagram fa-w-14" role="img"
                              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            </svg></i></a></li>
                      <li><a target="_blank" href="https://www.youtube.com/@aimsvietnam"><i class="fab fa-youtube"><svg
                              aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                              class="svg-inline--fa fa-youtube fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                            </svg></i></a></li>
                      <li><a target="_blank" href="https://www.linkedin.com/company/aims-vn/"><i
                            class="fab fa-linkedin"><svg aria-hidden="true" focusable="false" data-prefix="fab"
                              data-icon="linkedin" class="svg-inline--fa fa-linkedin fa-w-14" role="img"
                              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            </svg></i></a></li>
                      <li><a target="_blank" href="https://twitter.com/aimsvietnam"><i class="fab fa-twitter"><svg
                              aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter"
                              class="svg-inline--fa fa-twitter fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 512 512">
                            </svg></i></a></li>
                            <li><a target="_blank" href="https://twitter.com/aimsvietnam"><i class="fab fa-tiktok"><svg
                              aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter"
                              class="svg-inline--fa fa-twitter fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 512 512">
                            </svg></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
  </main>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="../public/app/js/jquery.js"></script>
  <script src="../public/app/js/slider.js"></script>
</body>

</html>